<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles/site.css" type="text/css">
    <title>Do I Want to be a Sharepoint Administrator?</title>
  </head>
  <body>
    <h1>Do I Want to be a Sharepoint Administrator?</h1>
    <p class="huge">NO</p>
    <div id="footer">&copy; Repressed Devs United</div>
  </body>
</html>
