body {
  margin: 24px auto;
  text-align: center;
  width: 960px;
}

.huge {
  font-size: 12em;
}

#footer {
  color: gray;
  margin-top: 30px;
}

input, button {
  height: 36px;
  font-size: 1.5em;
}

